# Data Science Tools and Ecosystem

Let's summarize Data Science Tools and ecosystems

**Objectives:**

- use markdown format within Jupyter Notebooks
- create a list of the most used Data Science tools
- calculate a multiplication and a division
- calculate a division

Some of the commonly used libraries used by Data Scientists include:
- Python
- Julia
- c++

|Data science tools 
|----------|
| Jupyter |
| VSCode |
| iPython |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Alexandre